USE [master]
GO
/****** Object:  Database [school]    Script Date: 2/13/2023 2:43:29 AM ******/
CREATE DATABASE [school]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\school.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'school_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\school_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [school].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [school]
GO
/****** Object:  Table [dbo].[assignment]    Script Date: 2/13/2023 2:43:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignment](
	[a_id] [int] IDENTITY(1,1) NOT NULL,
	[a_path] [varchar](200) NULL,
	[date] [date] NULL,
	[s_id] [int] NULL,
	[t_id] [int] NULL,
	[submission] [varchar](100) NULL,
	[stat] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2/13/2023 2:43:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[s_name] [varchar](100) NULL,
	[age] [int] NULL,
	[class] [int] NULL,
	[pwd] [varchar](10) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 2/13/2023 2:43:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[tch_id] [int] IDENTITY(1,1) NOT NULL,
	[t_name] [varchar](100) NULL,
	[subject] [varchar](20) NULL,
	[pwd] [varchar](10) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[tch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assignment] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[assignment] ADD  DEFAULT ('not done') FOR [stat]
GO
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD FOREIGN KEY([s_id])
REFERENCES [dbo].[student] ([ID])
GO
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD FOREIGN KEY([t_id])
REFERENCES [dbo].[teacher] ([tch_id])
GO
USE [master]
GO
