@page
@model prj_it.Pages.login_pages.teacher_loginModel
@{
}
@if (Model.suc != "")
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.suc</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.err != "")
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.err</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Login as Teacher
    </a>

</p>

<div class="collapse" id="collapse2">
    <div class="card card-body">
        <form method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" class="form-control" name="t_email" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" name="t_pwd" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" name="t_sub">Sign in</button>



        </form>
    </div>
</div>

<div class="container">
    <img src="~/images/teacher.jpg" />
    <br />

</div>