@page
@model prj_it.Pages.teacher_pages.create_stModel
@{
}

@if (Model.err != "")
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.err</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h1> Student Create Page</h1>
<br/>

<form method="POST">
    
    <div class="form-outline mb-4">
        <input type="text" id="form3Example3" class="form-control" name="name"/>
        <label class="form-label" for="form3Example3">Name</label>
    </div>

    
    <div class="form-outline mb-4">
        <input type="text" id="form3Example4" class="form-control" name="age" />
        <label class="form-label" for="form3Example4">Age</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="form3Example4" class="form-control" name="class" />
        <label class="form-label" for="form3Example4">Class</label>
    </div>

     <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="email" id="form3Example1" class="form-control"  name="email"/>
                <label class="form-label" for="form3Example1">Email</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
            <input type="text" id="form3Example2" class="form-control" name="password"/>
                <label class="form-label" for="form3Example2">Password</label>
            </div>
        </div>
    </div>
    
    @if (Model.suc != "")
    {

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.suc</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }

    
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

</form>