@page
@model prj_it.Pages.contactModel
@{
}
<h1> Contact US</h1>

<br />
<br />
<br />
<br />
<p>
    This Site is made by Ravindu Iddamalgoda.
    If you want to contact me  here, I have attached my email, ravinduiddamalgoda55@gmail.com
</p>